.navbar {
    height: 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    padding: 0 4rem;
    margin-bottom: 1rem;
}
.nav-item{
    display: flex;
    /* width: 300px; */
    gap: 32px;
    align-items: baseline;
    justify-content: space-between;
}
.item{
    font-family: 'Roboto';
    /* font-weight: bold; */
    font-size: 16px;
    color: rgb(15, 15, 15);
    font-family: 'poppins';
    cursor: pointer;
}

.logo {
    font-family: "Sriracha", serif;

    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: 500;
}

#sign {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sign {
    font-family: "Sriracha", serif;

    padding: 6px 4px;
    background-color: rgba(255, 255, 255, 0);
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 120px;
    cursor: pointer;
}

#login {
    background-color: black;
    color: white;
}



@media only screen and (max-width: 600px) {
    .logo {
        font-size: 1.6rem;
    }

    .navbar {
        gap: 8rem;
    }

    .sign {
        padding: 4px 2px;
    }

    #signup {
        display: none;
    }

    .main-container {
        margin-top: 1rem;
    }
}

.main-container {
    box-sizing: border-box;
    width: 100%;
    padding: 0 4rem;
    margin-top: 1rem;
}


.utility-container {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#tag-line {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 1rem 0;
    text-align: center;
    font-family: "Nothing You Could Do", serif
}

.utility-container p {
    max-width: 650px;
    font-size: 18px;
    margin: 1rem 0;
    text-align: center;
}

.search-container {
    position: relative;
    width: 30%;
    min-width: 350px;
    height: 70px;
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.search-container input {
    width: 100%;
    padding: 16px;
    border: white;
    border-radius: 40px;
    position: relative;
    box-shadow: 5px 5px 40px rgb(208, 208, 208);
}

.search-container input:focus {
    outline: none;
    border: 3px solid rgba(31, 156, 219, 0.345);

}

#search {
    right: 8px;
    position: absolute;
    background-color: rgb(31, 157, 219);
    color: white;
    border-radius: 40px 40px;
    padding: 8px 20px;
    cursor: pointer;
    font-weight: bold;
}