@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    padding: 0;
    margin: 0;
}


#account-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.sign-in-div {
    font-family: "Manrope", sans-serif;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 24px;
    /* border-top: 1px rgb(106, 106, 106) inset; */
    border-radius: 12px;
    width: 350px;
    color: white;
    gap: 16px;
    position: relative;
    box-shadow: 2px 2px 80px rgb(225, 225, 225);
}



.sign-in-div:after {
    content: "";
    height: 60%;
    width: 1px;
    position: absolute;
    z-index: 100;
    left: -1px;
    top: 65%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(transparent,
            rgb(78, 170, 215),
            transparent);
    opacity: 0;
}

.sign-in-div:after {
    top: 55%;
    opacity: 0;
}

.sign-in-div:hover:after {
    top: 15%;
    opacity: 1;
}

#logo {
    height: 80px;
    width: 80px;
    background-color: rgb(228, 228, 228);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: breath 6s both infinite;
}



#logo img {
    height: 40%;
    width: 40%;
}

#border {
    position: absolute;
    z-index: 100;
    height: 80%;
    width: 80%;
    background-image: url('..//assets/image/circle.png');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    /* animation: circular-motion 1s both infinite ease-in-out; */
}

@keyframes circular-motion {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

#wlc {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: rgb(153, 153, 153);
}

#wlc .links {
    /* text-decoration: none; */
    color: white;
    transition: color 0.1s ease-in-out;
}


#wlc .links:hover {
    color: rgb(136, 209, 246);
}

#wlc p {
    font-size: 14px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.credentials input {
    padding: 14px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    color: white;
    background-color: rgb(15, 15, 15);
    width: 100%;
    box-sizing: border-box;
    /* border: none; */
}

div>.links {
    color: rgb(255, 255, 255);
    font-size: 14px;
    cursor: pointer;

}

div>.links:hover {
    color: rgb(191, 191, 191);
    transition: color;
    font-size: 14px;
}

.sign-in-div button {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 24px;
    background-color: rgb(4, 122, 181);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    color: white;
}

.sign-in-div button:hover {
    box-shadow: 0px 0px 30px rgb(4, 122, 181);
    border: rgb(160, 215, 243) solid 2px;
}